<div class="container" *ngIf="Problem">
    <div class="row">
        <div class="col-12 align">
          <span>Teamcode > Problem list</span>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-8">
          <div>
              <h2>
                {{Problem.id}}. {{Problem.name}}
              </h2>
              <p>
                {{Problem.desc}}
              </p>
              <hr />
          </div>
          
          <div>
            <app-editor></app-editor>  
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <app-room-board></app-room-board>
        </div>
    </div>
</div>